{% load static %}
<html>
    <head>
        <title> Blog Sem Tema </title>
        <meta	charset="utf-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
		</head>
		
	<body>

    <div class="container">

    		<div class="row">
				<img src="{% static 'banner.jpg' %}" class="img-fluid"/>
				</div>
				
				<div class="row">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
				  <a class="navbar-brand" href="{% url 'post-list' %}">Blog Sem Tema</a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>

				<div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item">
				        <a class="nav-link" href="">Legal</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" href="">Engraçado</a>
							</li>
							<li class="nav-item">
				        <a class="nav-link" href="">Top</a>
				      </li>
				     <form class="form-inline my-2 my-lg-0" action="{% url 'search' %}" method="get">
				      <input name="q" class="form-control mr-sm-2" type="text" placeholder="Pesquisar" aria-label="Pesquisar">
				      <button class="btn btn-primary my-2 my-sm-0" type="submit">Pesquisar</button>
						</form>
						<li></li>
						<li class="nav-item">
								<a href="{% url 'login'%}"> Click aqui para fazer o login</a>
						</li>
				</div>
				</nav>

				<div class="col-9">

				{% block content %}
				{% endblock %}
	
				</div>

				<div class="col-3">
					<div class="list-group">
								<div class="row">
										<div class="list-group">
											{% for category in categories %}
											<a href= "{% url 'category-detail' category.pk %}" class=" mb-1 list-group-item list-group-item-action active">
										 {{ category.name}} </a>
										{% endfor %}
					
									</div>
								</div>
					</div>
				</div>	
				</div>
				</div>

				<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
				<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
				<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script> 
			

	</body>

</html>