{% extends "blog/base.html" %}
<p></p>
{% block content %}
    <p>{{object.title}}</p>
    <img src="{{ object.banner.url }}" class='img-fluid'> 
    <p>
    {{object.description}}
    <br>
    {{object.text|safe}}</p>
    <p></p>
    <p>Autor:
            {{ object.author }} </p>
    <p> Categoria:
       {{ object.category }}</p> 
    <p>{{ object.created_at }}</p>

<p></p>

<hr class="mt-2">

<form method="POST" action="{% url 'comment' object.id %}">
        {% csrf_token %}

        <div class="form-group">
                <center><h2 class="white"><label for="exampleFormControlTextarea1">Comments</label></h2></center>
        <div class="row">
        <div class="col-10">
                <textarea name="text" placeholder="Enter your message here" class="form-control" id="exampleFormControlTextarea1" rows="3"></textarea>
        </div>
        <div class="col-2">
        <button type="submit" class="btn btn-primary mt-3">Post</button>
        </div>
        </div>
        </div>
</form>
 
<hr>

{% for comment in object.comments.all %}
{{comment.author}}
{{comment.created_at}}
{{ comment.text|safe }}

{% endfor %}
{% endblock %}