{% extends "blog/base.html" %}
{% block content %}	
				<div class="bd-example">
				  <div id="carouselExampleCaptions" class="carousel slide" data-ride="carousel">
				    <ol class="carousel-indicators">
				      <li data-target="#carouselExampleCaptions" data-slide-to="0" class="active"></li>
				      <li data-target="#carouselExampleCaptions" data-slide-to="1"></li>
				      <li data-target="#carouselExampleCaptions" data-slide-to="2"></li>
				    </ol>
				    <div class="carousel-inner">
				      <div class="carousel-item active">
				        <img src="https://live.staticflickr.com/2930/34154725246_7c6f1c44e0_z.jpg" class="d-block w-100" alt="New York City">
				        <div class="carousel-caption d-none d-md-block">
				          <h5>New York </h5>
				          <p>Não Sei</p>
				        </div>
				      </div>
				      <div class="carousel-item">
				        <img src="http://atzingen.com.br/wp-content/uploads/2017/01/blblye_teory.jpg" class="d-block w-100" alt="...">
				        <div class="carousel-caption d-none d-md-block">
				          <h5>Bolha </h5>
				          <p>É isso né</p>
				        </div>
				      </div>
				      <div class="carousel-item">
				        <img src="https://i.em.com.br/QZ1uyycUdXNz3Kvs76R27E95j9c=/790x/smart/imgsapp.em.com.br/app/noticia_127983242361/2017/11/21/918433/20171121163944386214a.jpg" class="d-block w-100" alt="...">
				        <div class="carousel-caption d-none d-md-block">
				          <h5>Batata Frita</h5>
				          <p>Batata</p>
				        </div>
				      </div>
				    </div>
				    <a class="carousel-control-prev" href="#carouselExampleCaptions" role="button" data-slide="prev">
				      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
				      <span class="sr-only">Previous</span>
				    </a>
				    <a class="carousel-control-next" href="#carouselExampleCaptions" role="button" data-slide="next">
				      <span class="carousel-control-next-icon" aria-hidden="true"></span>
				      <span class="sr-only">Next</span>
				    </a>
				  </div>
				</div>
			
				<div class="row">
			{% for post in object_list %}
			<div class="col-4 m-1 ">
				<div class= "card border-light tect-center"	style="max-width: 400px;">
				<div class="card" style="width: 18rem;">
						<img src="{{ post.banner.url }}" class="card-img-top" alt="...">
						<div class="card-body">
							<h5 class="card-title">{{ post }}</h5>
							<p class="card-text">{{ post.description }}</p>
							<p class="card-subtitle">Autor: {{ post.author }}</p>
							<p class="card-subtitle">Categoria: {{ post.category }}</p>
							<a href="{% url 'post-detail' post.pk %}" class="btn btn-outline-primary"
							>Saiba Mais</a>
						</div>
					</div>
				</div>
			</div>
		{% endfor %}
</div>
	{% endblock %}